body{
    margin: 0;
    padding: 0;
    background: url(../IMAGENES/HOJAS.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

h1{
    margin: 30;
    padding: 0 0 15px;
    text-align: center;
    font-size: 40px;
    color:aqua;
}